.button-question {
    margin: 0 20px 0 0;
}
.question-list {
    text-align: center;
    display: inline-block;
    float: none;
    margin: 20px 20px 20px 20px;
}
.question-card {
    width: 400px;
    float:none;
    display:inline-block;
    text-align: center;
    margin: 0 20px 0 0;
}

.question-style {
    width: 25em;
}