.category {
    display:inline-block;
    float:none;
    text-align: center;
    margin: 20px 20px 20px 20px;
    background-color: rgb(143, 196, 209);
    font-size: 2em;
    border-radius: 25px;
}

.addButton {
    margin: 20px 20px 20px 20px;
}

.delete-button {
    font-size: 1em;
}

.edit-image {
    width: 1em;
    height: 1em;
}