.customQuiz {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.quiz {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.answer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-container {
    perspective: 700;
    margin: 3em;
}
.questionCard {
    position: relative;
    float:none;
    width: 600px;
    height: 300px;
    text-align: center;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}
.questionCard:active {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    backface-visibility: hidden;
    width: 600px;
    height: 300px;
}
.back {
    transform: rotateY(180deg);
}
